*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
dl,
dd,
figure {
  margin: 0;
}

body {
  min-block-size: 100vh;
}

ul,
ol {
  padding: 0;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
}

button,
[type="button"],
[type="submit"] {
  touch-action: manipulation;
}

img,
svg {
  display: block;
  max-inline-size: 100%;
}

a {
  color: inherit;
}

[hidden] {
  display: none !important;
}
